html,
body {
  height: 100vh;
}

body {
  background-color: var(--secondary2) !important;
}

.modal {
  overflow: unset !important;
}

.game-room {
  background-color: azure;
  cursor: pointer;
}

.playerSlot {
  height: 160px;
  background-color: var(--secondary1);
  font-size: larger;
  font-weight: bold;
  z-index: -3;
}

.players {
  z-index: -1;
}

.top{
  z-index: 100 !important;
}

/* .playerSlot.last {
  border: 5px solid var(--primary2);
}

.playerSlot.middle {
  border-left: 5px solid var(--primary2);
} */

.currentTurn {
  background-color: #5f9ea0 !important;
}

.greaterDalmuti {
  background: url(/icons/greaterDalmuti.png) no-repeat 50%;
  background-size: contain;
  opacity: 0.3;
  z-index: -2;
  background-position-y: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.lesserDalmuti {
  background: url(/icons/lesserDalmuti.png) no-repeat 50%;
  background-size: contain;
  opacity: 0.3;
  z-index: -2;
  background-position-y: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.merchant {
  background: url(/icons/merchant.png) no-repeat 50%;
  background-size: contain;
  opacity: 0.3;
  z-index: -2;
  background-position-y: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.lesserPeon {
  background: url(/icons/lesserPeon.png) no-repeat 50%;
  background-size: contain;
  opacity: 0.3;
  z-index: -2;
  background-position-y: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.greaterPeon {
  background: url(/icons/greaterPeon.png) no-repeat 50%;
  background-size: contain;
  opacity: 0.4;
  z-index: -2;
  background-position-y: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

a {
  margin-left: 10px;
}
.gg-crown {
  display: inline-block !important;
  bottom: 3px;
}

.chatStyle {
  overflow-y: auto;
  height: calc(100% - 39.5px);
  overflow-wrap: break-word;
  padding-bottom: 20px;
}

.errorMSG {
  z-index: 1000;
  left: 50%;
  top: 40%;
  background-color: var(--primary2);
  transform: translateX(-50%);
  width: fit-content !important;
  color: white;
}

.btn.disabled,
.btn:disabled {
  cursor: not-allowed !important;
  opacity: 0.35 !important;
}

.cardSel {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cards {
  width: 70px;
  height: 100px;
  margin-left: -20px;
  color: white;
  font-weight: bolder;
  border: 5px solid white;
}

.material-icons {
  cursor: pointer;
}

.material-icons:hover {
  opacity: 0.75;
}

/* .cardsAnimation {
  animation-name: muvingUp;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: .1s;
}

@keyframes muvingUp {
  0%   {bottom:0px;opacity: 100%;}
  100% {bottom:30px;opacity: 0%;}
} */

.selected {
  border: 5px solid rgb(0, 84, 240) !important;
}

.pointsDiv {
  padding-left: 20px;
  font-weight: bold;
  height: fit-content;
}

.bg-success1 {
  background-color: var(--success1) !important;
}
.bg-success1:hover {
  background-color: var(--success2) !important;
}

.bg-primary2 {
  background-color: var(--primary2) !important;
}
.bg-primary2:hover {
  background-color: var(--primary3) !important;
}

.bg-primary1 {
  background-color: var(--primary1) !important;
  color: white !important;
}
.bg-primary1:hover {
  background-color: var(--primary2) !important;
}

.bg-secondary1 {
  background-color: var(--secondary1);
}
.bg-secondary1:hover {
  background-color: #ecd4ad;
}

.bg-secondary2 {
  background-color: var(--secondary2);
}

.bg-alert1 {
  background-color: var(--alert1) !important;
}
.bg-alert1:hover {
  background-color: var(--alert2) !important;
}

.bg-alert2 {
  background-color: var(--alert2) !important;
}
.bg-alert2:hover {
  background-color: var(--alert3) !important;
}

:root {
  --success1: #81b29a;
  --success2: #aeebcd;
  --alert1: #e07a5f;
  --alert2: #df907a;
  --alert3: #e9a491;
  --primary1: #3d405b;
  --primary2: #6d708a;
  --primary3: #a2a6c5;
  --secondary2: #f4f1de;
  --secondary1: #f2cc8f;
}
